@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(71, 71, 71);
}

.hamburger {
    z-index: 99;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    position: fixed;
    top: -75px;
    left: -75px;
    transform-origin: center;
    transform: rotate(0deg);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(219, 87, 87);
    transition: transform .2s linear;
}

.hamburger.rotate {
    transform: rotate(-90deg);
}

.hamburger i {
    position: relative;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}

.fa-bars {
    top: -20%;
    left: -20%;
}

.fa-xmark {
    top: -20%;
    left: 20%;
    margin-right: auto;
}

img {
    max-width: 100%;
}

.wrapper {
    transform-origin: 0 0;
    transform: rotate(0);
    background-color: #ccc;
    margin: 0 auto;
    padding: 100px 15% 300px;
    height: 200vh;
    transition: transform .3s linear;
}

article {
    max-width: 80vw;
}

.wrapper.rotate {
    transform-origin: 0 0;
    transform: rotate(-20deg);
}

article h2 {
    margin-bottom: 0;
}

article .author {
    margin-top: 0;
    font-size: 0.8rem;
    font-style: italic;
}

.side-menu {
    position: fixed;
    top: 75%;
    left: -200px;
    transition: left .2s .1s ease-in;
}

.side-menu.rotate {
    top: 75%;
    left: 1%;
}

.side-menu ul {
    list-style: none;
}

.side-menu li {
    margin: 30px 0;
}

.side-menu li:nth-child(1) {
    transform: translateX(-20px);
}

.side-menu li:nth-child(3) {
    transform: translateX(20px);
}

.side-menu a {
    color: white;
    text-decoration: none;
}

.side-menu a:hover {
    color: black;
}

.side-menu i {
    margin-right: 15px;
}