@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(154, 94, 211);
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 5px;
    margin: 30px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}