@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primaryColor: #373b69;
    --secondaryColor: #22254b;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    padding: 20px;
    background-color: var(--primaryColor);
    text-align: right;
}

nav input {
    border-radius: 20px;
    background-color: transparent;
    padding: 5px 10px;
    border: 1px solid black;
    color: white;
}

nav input:focus {
    outline: 3px solid black;
    background-color: var(--secondaryColor);
}

.movies {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    background-color: var(--secondaryColor);
    padding: 20px;
    min-height: calc(100vh - 68px);
}

.movie {
    cursor: pointer;
    position: relative;
    height: 500px;
    width: 300px;
    background-color: var(--primaryColor);
    overflow: hidden;
    box-shadow: 2px 2px 12px 2px #2c2664;
}

.movie .image {
    height: 70%;
    background-position: center;
    background-size: cover;
}

.movie .description {
    position: relative;
    height: 30%;
    color: white;
}

.movie .title {
    padding: 15px 30px 15px 20px;
    font-size: 1.4rem;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
}

.movie .rating {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-140%, -50%);
    background-color: var(--secondaryColor);
    padding: 3px;
}

.movie .overview {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background-color: white;
    padding: 15px;
    transition: transform .3s ease-out;
    max-height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.movie:hover .overview {
    transform: translateY(0);
}

.no-results {
    position: absolute;
    top: 30%;
    color: white;
    font-size: 3rem;
    line-height: 100%;
}